<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>


       <% if (locals.success) { %>
          <div id="alt_sucess" class="alert alert-success">
            <!--注意!此处不是=,?-->
            <%- success %>
          </div>
       <% } %>

      <% if (locals.error) { %>
        <div id="alt_warning" class="alert alert-warning">
            <!--注意!此处是=,?-->
          <%= error %>
        </div>
      <% } %>

      <form method="post">
        <input id="txtUserName" name="txtUserName" type="text" placeholder="用户名" required autofocus />
        <input id="txtUserPwd" name="txtUserPwd" type="password" placeholder="密码" required/>
        <input id="txtUserRePwd"  name="txtUserRePwd" type="password" placeholder="重复密码" required />

        <button id="btnSub" type="submit">注  册</button>
        <a href="/login">登  录</a>
      </form>

    </div>
  </body>
</html>
